* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Helvetica", "Lucida Grande", Arial, sans-serif;
}

h2 {
  color: #95290c;
  font-size: 1.8em;
  font-weight: bold;
}

p {
  margin: 10px 0 10px 0;
}

em {
  font-style: italic;
}

a {
  color: #95290c;
  font-weight: bold;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

sup {
  vertical-align: super;
  font-size: 0.8em;
}

a:hover {
  text-decoration: underline;
}

#wrapper {
}

#content {
  background: #000;
  color: #fff;
  height: 804px;
}

#loading {
  background: url(../images/loader.gif) no-repeat top center;
  color: #666;
  margin: auto;
  position: relative;
  top: 200px;
  text-align: center;
  font-size: 0.8em;
  padding-top: 50px;
}

#loading img {
  margin-bottom: 20px;
}

#noflash {
  display: none;
  background: url(../images/maintenance-zombie.jpg) no-repeat top center;
}

#generic-error {
  display: none;
  background: url(../images/maintenance-zombie.jpg) no-repeat top center;
}

#download-flash {
  margin: 20px 0 0 20px;
}

.header-message {
  padding: 8px 8px 10px 8px;
}

.header-message a {
  color: #d8d2cc;
  text-decoration: underline;
}

.header-message-bar {
  background: #4e1709;
  color: #d8d2cc;
  font-size: 0.7em;
  font-weight: bold;
  height: 30px;
  border-top: 1px solid #631e0b;
}

.header-message-bar .close {
  background: url(../images/cross.gif) no-repeat center top;
  width: 15px;
  height: 12px;
  margin: 9px 6px 0 6px;
  float: left;
  cursor: pointer;
}

.header-message-bar .loader {
  background: url(../images/mini-loader.gif) no-repeat center top;
  width: 16px;
  height: 16px;
  margin: 6px 6px 0 6px;
  float: left;
}

#messagebox {
  position: relative;
  background: url(../images/messagebox.gif) no-repeat top center;
  top: 100px;
  width: 320px;
  height: 540px;
  margin: auto;
  text-shadow: 0em 0em 0.2em black;
}

#messagebox .header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  top: 21px;
  left: 12px;
}

#messagebox .msg {
  font-size: 0.8em;
  position: relative;
  width: 90%;
  top: 42px;
  left: 12px;
  line-height: 1.4em;
}

#messagebox .btn {
  font-size: 0.75em;
  position: relative;
  text-align: center;
  top: 74px;
  cursor: pointer;
}

.error {
  padding: 370px 0;
  margin: auto;
  width: 80%;
  color: #d8d2cc;
  line-height: 1.6em;
  font-size: 0.8em;
  text-align: center;
}

#header {
  position: relative;
  height: 112px;
  background: url(../images/header.jpg) no-repeat top right;
  border-bottom: 6px solid #73210b;
}

#footer {
  margin-top: 20px;
  color: #666666;
  font-size: 10px;
}

#footer a {
  color: #666666;
  font-size: 10px;
}

#con-artist-logo {
  float: right;
  margin-top: -25px;
  margin-right: 10px;
}

#user-id {
  margin-top: -10px;
  margin-left: 10px;
  float: left;
  color: #666666;
  font-size: 12px;
}

#logo {
  position: absolute;
  bottom: 10px;
  left: 14px;
}

#fb-likes {
  position: absolute;
  bottom: 4px;
  right: 2px;
  height: 25px;
  width: 87px;
}

#nav {
  position: absolute;
  bottom: 7px;
  right: 590px;
  height: 42px;
}

#nav ul {
  list-style: none;
}

#nav li {
  list-style: none;
  display: inline;
  text-align: center;
}

#nav li a {
  text-decoration: none;
  display: block;
  float: left;
  background: url(../images/menu.png) no-repeat;
  height: 49px;
  position: absolute;
  text-indent: -9999px;
}

body {
  background: #191c21;
}

h1 {
  padding: 200px 50px;
  text-align: center;
}

li#get-more a {
  width: 118px;
  left: 0px;
}

li#code a {
  width: 87px;
  left: 118px;
}

li#fan-page a {
  width: 90px;
  left: 205px;
}

li#help a {
  width: 90px;
  left: 295px;
}

li#feedback a {
  width: 108px;
  left: 385px;
}

li#get-more a:link,
li#get-more a:visited {
  background-position: -0px 0px;
}

li#get-more a:hover,
li#get-more a:focus {
  background-position: -0px -49px;
}

li#code a:link,
li#code a:visited {
  background-position: -118px 0px;
}

li#code a:hover,
li#code a:focus {
  background-position: -118px -49px;
}

li#fan-page a:link,
li#fan-page a:visited {
  background-position: -205px 0px;
}

li#fan-page a:hover,
li#fan-page a:focus {
  background-position: -205px -49px;
}

li#help a:link,
li#help a:visited {
  background-position: -295px 0px;
}

li#help a:hover,
li#help a:focus {
  background-position: -295px -49px;
}

li#feedback a:link,
li#feedback a:visited {
  background-position: -385px 0px;
}

li#feedback a:hover,
li#feedback a:focus {
  background-position: -385px -49px;
}

.get-more li#get-more a:link,
.get-more li#get-more a:visited {
  background-position: -0px -98px;
}

.get-more li#code a:link,
.get-more li#help a:visited {
  background-position: -118px -98px;
}

.get-more li#code a:hover,
.get-more li#help a:focus {
  background-position: -118px -147px;
}

.code li#code a:link,
.code li#code a:visited {
  background-position: -118px -196px;
}

.code li#get-more a:link,
.code li#fan-page a:visited {
  background-position: -0px -196px;
}

.code li#get-more a:hover,
.code li#fan-page a:focus {
  background-position: -0px -245px;
}

.code li#fan-page a:link,
.get-more li#help a:visited {
  background-position: -205px -196px;
}

.code li#fan-page a:hover,
.get-more li#help a:focus {
  background-position: -205px -245px;
}

.fan-page li#fan-page a:link,
.fan-page li#fan-page a:visited {
  background-position: -205px -294px;
}

.fan-page li#code a:link,
.fan-page li#code a:visited {
  background-position: -118px -294px;
}

.fan-page li#code a:hover,
.fan-page li#code a:focus {
  background-position: -118px -343px;
}

.fan-page li#help a:link,
.fan-page li#get-more a:visited {
  background-position: -295px -294px;
}

.fan-page li#help a:hover,
.fan-page li#get-more a:focus {
  background-position: -295px -343px;
}

.help li#help a:link,
.help li#help a:visited {
  background-position: -295px -392px;
}

.help li#fan-page a:link,
.help li#get-more a:visited {
  background-position: -205px -392px;
}

.help li#fan-page a:hover,
.help li#get-more a:focus {
  background-position: -205px -441px;
}

.help li#feedback a:link,
.help li#feedback a:visited {
  background-position: -385px -392px;
}

.help li#feedback a:hover,
.help li#feedback a:focus {
  background-position: -385px -441px;
}

.feedback li#feedback a:link,
.feedback li#feedback a:visited {
  background-position: -385px -490px;
}

.feedback li#help a:link,
.feedback li#help a:visited {
  background-position: -295px -490px;
}

.feedback li#help a:hover,
.feedback li#help a:focus {
  background-position: -295px -539px;
}

#login-form {
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #757678;
  background-color: #191c21;
  font-family: Arial, sans-serif;
}

#login-form form {
  display: flex;
  flex-direction: column;
}

#login-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: rgb(212, 212, 212);
}

#login-form input[type="text"],
#login-form input[type="password"] {
  padding: 6px 8px;
  margin-bottom: 15px;
  border: 1px solid #757678;
  background-color: #fff;
  font-size: 14px;
  width: 100%;
}

#login-button {
  background-color: #86270d;
  color: #fff;
  border: 1px solid #757678;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
}

#login-button:hover {
  background-color: #b22;
}

#login-button.disabled {
  background-color: #555;
  color: #aaa;
  border-color: #444;
  cursor: not-allowed;
  opacity: 0.7;
}

#footer {
  margin-top: 20px;
  color: #666;
  font-size: 10px;
  text-align: center;
}

#footer a {
  color: #666;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

.debug-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.server-status {
  color: #b54941;
  margin-right: 16px;
}

.logout-btn {
  background-color: #363333;
  padding: 8px;
  border: none;
  color: #7a7068;
  font-weight: bold;
  font-size: 12px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
}

.logout-btn:hover {
  color: #949392ff;
}

.username-info {
  text-align: start;
  margin-bottom: 20px;
}

.password-info {
  text-align: start;
  margin-bottom: 20px;
}

.login-info {
  text-align: start;
  margin-top: 8px;
}

/* Flash Messages */
.flash-message {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  z-index: 10000;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  animation: slideDown 0.3s ease-out, fadeOut 0.3s ease-in 4.7s;
  animation-fill-mode: forwards;
}

.flash-success {
  background-color: #10b981;
  color: white;
  border: 2px solid #059669;
}

.flash-error {
  background-color: #ef4444;
  color: white;
  border: 2px solid #dc2626;
}

.flash-info {
  background-color: #3b82f6;
  color: white;
  border: 2px solid #2563eb;
}

@keyframes slideDown {
  from {
    top: 60px;
    opacity: 0;
  }
  to {
    top: 80px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    top: 60px;
  }
}
